@import "var.css";

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Arial Regular;
    font-size: 14px;
    line-height: 1.5;
    color: var(--td-text-color-secondary);
    -webkit-font-smoothing: antialiased;
}